.bg-success {
  background-color: #5cb85c10 !important
}

.bg-danger {
  background-color: #d9534f10 !important
}

.bg-warning {
  background-color: #f0ad4e10 !important
}

.bg-info {
  background-color: #5bc0de10 !important
}
